

<div class="column is-one-third">

<div class="card">
  <% if product.avatar.present?%>
  <div class= "card-image">
  <figure class="image is-600x600">
    <%= image_tag product.avatar.variant(resize_to_limit: [600, 600])%>
  </figure>

</div>

<% end %>
<div class="card-content">
    <div class="content">
      <p class="title">
      <% if show_link %>
        <%= link_to product.name, product%>
      <% else %>
        <%= product.name%>
      <% end %>
      </p>
      <p>Genre:<%= render product.genres%></p>
    </div>
    <% if load_cart.include?(product) %>
      <%= button_to remove_from_cart_path(product), method: :delete do %>
         Remove From Cart
      <% end %>

    <% else %>
      <%= form_with url: add_to_cart_path(product), method: :post do %>
        <%= hidden_field_tag(:id, product.id)%>
        <%= button_tag 'Add to Cart'%>
      <% end %>
    <% end %>


    <footer class="card-footer">
      <p class= "card-footer-item">Price:<%= product.price%></p>
      <p class= "card-footer-item">Developer:<%= product.developer.name%></p>
      <p class= "card-footer-item">Publisher:<%= product.publisher.name%></p>
    </footer>

</div>
</div>
</div>




