
<div class="columns is-multiline">
  <div class="column">
  <%= render partial: 'product', object: @product, locals: {show_link: false} %>
  </div>
    <div class="column">
    <h2 class="title is-2">Game Description:</h2>
    <div><%= @product.description%></div>
    <h3 class="title is-4">Genres: </h3><div><%= render @product.genres%></div>
    <h3 class="title is-4">Developer: </h3><div><%= @product.developer.name%></div>
    <h3 class="title is-4">Publisher: </h3><div><%= @product.publisher.name%></div>
    <h3 class="title is-4">Release Date: </h3><div><%= @product.release_date%></div>
    <h3 class="title is-4">Price </h3><div><%= number_to_currency @product.price%></div>
    </div>
</div>
